providers: [
  {
    key: "bt"
    config:
      commands: [
        {
          project: "/home/lookfiresu/Desktop/code/Cpp-Primer/practice/chapter_8/iostream"
          source: "/home/lookfiresu/Desktop/code/Cpp-Primer/practice/chapter_8/iostream/.build-tools.cson"
          name: "g++ -std=c++14 iostream.cpp"
          command: "g++ -g -Wall -std=c++14 iostream.cpp -o main"
          wd: "."
          env: {}
          modifier: {}
          stdout:
            pty: false
            highlighting: "nh"
            ansi_option: "ignore"
          stderr:
            highlighting: "hc"
            profile: "gcc_clang"
          output:
            console:
              close_success: false
              queue_in_buffer: true
              stdin: false
            linter:
              no_trace: false
          version: 1
        }
      ]
  }
]
